
<body>
    <div class="container">

      
    
      <br><br>
      <h2 style="color: black;"><span  class="one"style="color: red;" >Log out </span> <span class="two">successfully!<img src="../../assets/logout.png" height="100px" width="100px"></span></h2>
      <h2 style="color:indigo;">We serve not only medicines but also health and happiness to you.</h2>
      <div class="centered"><h1><img ><br><span class="centre">Thank You</span> for shopping with us</h1><br><a href="home"><button class="btn btn-success">go to home</button></a></div>
      <div class="container">
        
       
        <div class="top-left" style="color:forestgreen;"><h4><img src="../../assets/dancing-pills.gif" height="200px" width="170px"> </h4></div>
        <div class="top-right"><h2><img src="../../assets/dancing-pills.gif" height="200px" width="170px"></h2></div>
        
        >
      </div>
      
     

    


    </div>
</body>
