<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="dropdown">
        <button class="dropbtn">Categories</button>
        <div class="dropdown-content">
            <a href="antipyretics">Antipyretics</a>
            <a href="analgesics">Analgesics</a>
            <a href="antibiotics">Antibiotics</a>
        </div>
        <h1 style="text-align: center;"><b>Antibiotics<hr style="width: 1400px;"></b></h1><br><br>
    </div>
    
    

    <div class="container">
        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/Azithro.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Azithromycin</h4>
                    <p class="card-text" >Tablet 500 mg</p>
                    <p class="card-text" ><b>Rs.43.8/-</b></p>
                </div>
            </div>
        </div>

        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/ampicillin.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" >Ampicillin</h4>
                    <p class="card-text" >Tablet 500 mg</p>
                    <p class="card-text"><b>Rs.54.00/-</b></p>
                </div>
            </div>
        </div>

        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/teli.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" >Telithromycin</h4>
                    <p class="card-text" >Tablet 400 mg</p>
                    <p class="card-text" ><b>Rs.62.9/-</b></p>
                </div>
            </div>
        </div>

        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/oflo.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" >Ofloxacin</h4>
                    <p class="card-text" > Tablet 200 mg</p>
                    <p class="card-text" ><b>Rs.89.00/-</b></p>
                </div>
            </div>
        </div>
    </div>   
<br>
<div class="container">
        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/neo.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" >Neomycin</h4>
                    <p class="card-text" >Tablet 500 mg</p>
                    <p class="card-text" ><b>Rs. 86.8/-</b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/genta.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" >Gentamicin</h4>
                    <p class="card-text" >Tablet 50 mg</p>
                    <p class="card-text" ><b>Rs. 76.8/-</b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/ami.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" >Amikacin</h4>
                    <p class="card-text" >Tablet 500 mg</p>
                    <p class="card-text" ><b>Rs. 65.8/-</b></p>

                </div>
            </div>
        </div>
        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/metro.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" >metronidazole</h4>
                    <p class="card-text" >Tablet 200 mg</p>
                    <p class="card-text" ><b>Rs. 78.90/-</b></p>

                </div>
            </div>
        </div>


    </div>




