<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="dropdown">
        <button class="dropbtn">Categories</button>
        <div class="dropdown-content">
            <a href="antipyretics">Antipyretics</a>
            <a href="analgesics">Analgesics</a>
            <a href="antibiotics">Antibiotics</a>
        </div>
    </div>
        <h1 style="text-align: center;"><b>Antipyretics<hr style="width: 1400px;"></b></h1><br><br>
    


    <div class="container">
        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/Anti2.jfif" alt="Card image" style="width:2048; height:1639;">
                <div class="card-body">
                    <h4 class="card-title">Paracetamol</h4>
                    <p class="card-text">Tablet 300mg</p>
                    <p class="card-text"><b>Rs.190/-</b></p>
                </div>
            </div>
        </div>

        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/Anti3.jfif" alt="Card image" style="width:2048; height:1639;" >
                <div class="card-body">
                    <h4 class="card-title">Grippostad</h4>
                    <p class="card-text">Tablet 100mg</p>

                    <p class="card-text"><b>Rs.999/-</b></p>
                </div>
            </div>
        </div>

        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/Anti4.jfif" alt="Card image" style="width:2048; height:1639;">
                <div class="card-body">
                    <h4 class="card-title">NunacPlus </h4>
                    <p class="card-text">Syrup 200ml</p>

                    <p class="card-text"><b>Rs.499/-</b></p>
                </div>
            </div>
        </div>


        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/Anti5.jfif" alt="Card image" style="width:2048; height:1639;">
                <div class="card-body">
                    <h4 class="card-title">Analgin</h4>
                    <p class="card-text">Tablet 500mg</p>

                    <p class="card-text"><b>Rs.699/-</b></p>
                </div>
            </div>
        </div>

    </div><br>

    <div class="container">
        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/Anti6.jfif" alt="Card image" style="width:2048; height:1639;">
                <div class="card-body">
                    <h4 class="card-title">Ibuprofen</h4>
                    <p class="card-text">Tablet 10mg</p>

                    <p class="card-text"><b>Rs.99/-</b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/med1.jpg" alt="Card image" style="width:2048; height:1639;">
                <div class="card-body">
                    <h4 class="card-title">Nurofen</h4>
                    <p class="card-text">Drop 100 ml</p>

                    <p class="card-text"><b>Rs.299/-</b></p>
                </div>
            </div>
        </div>

        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/med2.jpg" alt="Card image" style="width:100%; height: 100%;">
                <div class="card-body">
                    <h4 class="card-title">Dicrofenac</h4>
                    <p class="card-text">Eye drop 250ml</p>

                    <p class="card-text"><b>Rs.199/-</b></p>
                </div>
            </div>
        </div>

        <div class="col-sm-2" style="margin-left: 50px;">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="../../assets/Anti8.jfif" alt="Card image" style="width:2048; height:1639;">
                <div class="card-body">
                    <h4 class="card-title">Butadione</h4>
                    <p class="card-text">Tablet 150mg</p>

                    <p class="card-text"><b>Rs.499/-</b></p>
                </div>
            </div>
        </div>
    </div>